.tableper {
    font-weight: bold;
    background-color: lightyellow;
    color: blue;
}

.header {
    color: red;
}

.sub-header {
    color: greenyellow;
    font-weight: bold;
}

.profession {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
}